<div fxLayout="column">
  <h1 fxFlex="0 0 auto" matDialogTitle> {{data.title}} </h1>

  <form fxLayout="row" [formGroup]="form">
    <mat-dialog-content fxLayout="column" fxFlex="1 1 auto">
      <div fxFlex="1 1 auto">
        <!-- Project name -->
        <mat-form-field>
          <input type="text"
                 id="projectName"
                 name="projectName"
                 [formControl]="form.controls['projectName']"
                 matInput
                 [required]="true"
                 [value]="project?.name"
                 [(ngModel)]="project.name"
                 placeholder="Name">

          <!-- Error text -->
          <mat-error *ngIf="form.controls['projectName'].hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <!-- Control buttons -->
        <mat-dialog-actions>
          <div fxFlex="1 1 auto" fxLayout="row">
            <!-- Cancel -->
            <button fxFlex="1 1 50%"
                    mat-button
                    mat-dialog-close>
              Cancel
            </button>

            <!-- Confirm -->
            <button fxFlex="1 1 50%"
                    mat-flat-button
                    type="submit"
                    [disabled]="!form.valid"
                    [mat-dialog-close]="{project: project, form: form}">
              Confirm
            </button>
          </div>
        </mat-dialog-actions>
      </div>
    </mat-dialog-content>
  </form>
</div>
