@import "../../../theme/theme";

.sgg-color {
  // Layout
  padding: $theme-color-swatch-padding;
  border: 1px solid $theme-color-swatch-border-color;
  margin-bottom: 20px;

  &:hover {
    .sgg-color-block {
      button {
        display: inline-block;
      }
    }
  }

  .sgg-color-block {
    position: relative;

    &-sample {
      // Layout
      height: $theme-color-swatch-sample-height;
      margin-bottom: 10px;
      text-align: center;
      line-height: $theme-color-swatch-sample-height;

      span {
        padding: 5px;
        background-color: $theme-body-bg;
      }
    }

    button {
      position: absolute;
      top: 5px;
      display: none;
    }

    &-more {
      right: 85px;
    }

    &-edit {
      right: 45px;
    }

    &-delete {
      right: 5px;
      color: $theme-color-delete;
    }
  }

  .sgg-color-info {
    // Name
    label {
      // Layout
      padding: 5px 0;

      // Style
      font-size: $theme-color-swatch-label-font-size;
    }

    // Variable
    span {
      // Style
      color: $theme-color-swatch-variable-color;
    }

    // Description
    p {
      // Layout
      margin: 10px 0 0 0 !important;
      padding: $theme-color-swatch-padding;
      overflow-wrap: break-word;

      // Style
      background-color: $theme-color-swatch-description-bg;
    }
  }
}
