<div fxFlexFill fxLayout="column" class="sgg-color">
  <div fxFlex="1 1 80px" class="sgg-color-block">
    <!-- Color swatch preview -->
    <div fxFlexFill
         class="sgg-color-block-sample"
         [style.background]="color.value">
    </div>

    <!-- Edit button -->
    <button mat-icon-button
            class="sgg-color-block-edit"
            (click)="editColor()">
      <mat-icon> edit </mat-icon>
    </button>

    <!-- Delete button -->
    <button mat-icon-button
            class="sgg-color-block-delete"
            (click)="deleteColor()">
      <mat-icon> delete </mat-icon>
    </button>
  </div>

  <!-- Color information section -->
  <div fxFlex="1 1 auto"
       fxLayout="column"
       class="sgg-color-info">
    <!-- Color title -->
    <label fxFlex="0 0 auto">
      {{color.label}}
    </label>

    <!-- Color variable -->
    <div *ngIf="color.variable" fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="start center">
      <!-- Variable -->
      <span id="colorVariable" fxFlex="1 0 auto">
        {{color.variable}}
      </span>

      <!-- Copy variable button -->
      <button mat-icon-button
              fxFlex="0 1 auto"
              fxFlexAlign="end"
              (click)="selectVariableName($event)">
        <mat-icon> content_copy </mat-icon>
      </button>
    </div>

    <!-- Color description and explanation -->
    <p fxFlex="1 1 auto"> {{color.description}} </p>
  </div>
</div>
