<div fxFlexFill
     fxLayout="column"
     class="sgg-colors">

  <!-- Color Sample Section -->
  <div fxFlex="1 1 80px"
       class="sgg-colors__sample">

    <!-- Color swatch preview -->
    <div fxFlexFill
         class="sgg-colors__sample-color"
         [style.background]="color.value">
      <span> {{color.value}} </span>
    </div>

    <!-- More button -->
    <button mat-icon-button
            [matMenuTriggerFor]="moreActions"
            matTooltip="More actions"
            matTooltipPosition="below"
            class="sgg-colors__sample-more">
      <mat-icon> more_vert</mat-icon>
    </button>

    <!-- More actions context menu -->
    <mat-menu #moreActions="matMenu">
      <button mat-menu-item (click)="generateMonochromatic.emit(color)">Generate Monochromatic Scheme</button>
      <button mat-menu-item (click)="generateMonochromaticDark.emit(color)">Generate Monochromatic Dark Scheme</button>
      <button mat-menu-item (click)="generateMonochromaticLight.emit(color)">Generate Monochromatic Light Scheme</button>
      <button mat-menu-item (click)="generateAnalogous.emit(color)">Generate Analogous Scheme</button>
      <button mat-menu-item (click)="generateAnalogousComplimentary.emit(color)">Generate Analogous Complementary Scheme</button>
      <button mat-menu-item (click)="generateComplementary.emit(color)">Generate Complementary Scheme</button>
      <button mat-menu-item (click)="generateTriadic.emit(color)">Generate Triadic Scheme</button>
      <button mat-menu-item (click)="generateQuadratic.emit(color)">Generate Quadratic Scheme</button>
    </mat-menu>

    <!-- Edit button -->
    <button mat-icon-button
            matTooltip="Edit color"
            matTooltipPosition="below"
            class="sgg-colors__sample-edit"
            (click)="editColor()">
      <mat-icon> edit</mat-icon>
    </button>

    <!-- Delete button -->
    <button mat-icon-button
            matTooltip="Delete color"
            matTooltipPosition="below"
            class="sgg-colors__sample-delete"
            (click)="deleteColor()">
      <mat-icon> delete</mat-icon>
    </button>

  </div>

  <!-- Color information section -->
  <div fxFlex="1 1 auto"
       fxLayout="column"
       class="sgg-colors__info">

    <!-- Color title -->
    <label fxFlex="0 0 auto">
      {{color.label}}
    </label>

    <!-- Color variable -->
    <div *ngIf="color.variable"
         fxFlex="0 0 auto"
         fxLayout="row"
         fxLayoutAlign="start center">

      <!-- Variable -->
      <span id="colorVariable"
            fxFlex="1 0 auto">
        {{color.variable}}
      </span>

      <!-- Copy variable button -->
      <button mat-icon-button
              fxFlex="0 1 auto"
              fxFlexAlign="end"
              matTooltip="Copy color variable"
              matTooltipPosition="above"
              (click)="selectVariableName($event)">
        <mat-icon> content_copy</mat-icon>
      </button>

    </div>

    <!-- Color description and explanation -->
    <p fxFlex="1 1 auto"> {{color.description}} </p>

  </div>

</div>
