<mat-drawer-container autosize>
  <!-- Navigation / Router links -->
  <mat-drawer #drawer class="sgg-primary-navigation" mode="side" [opened]="true">
    <a routerLink="/home" routerLinkActive="sgg-primary-navigation-active"> Home Sweet Home </a>
    <a routerLink="/home" routerLinkActive="sgg-primary-navigation-active"> Colors </a>
    <a routerLink="/home" routerLinkActive="sgg-primary-navigation-active"> Fonts </a>
  </mat-drawer>

  <!-- Main Content -->
  <div class="sgg-main-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
