<mat-drawer-container fxLayout="row" autosize>
  <!-- Navigation / Router links -->
  <mat-drawer fxFlex="0 0 20%"
              #drawer
              class="sgg-primary-navigation"
              mode="side"
              [opened]="true">
    <a routerLink="/home" routerLinkActive="sgg-primary-navigation-active"> Home </a>
    <a routerLink="/colors" routerLinkActive="sgg-primary-navigation-active"> Colors </a>
    <a routerLink="/fonts" routerLinkActive="sgg-primary-navigation-active"> Fonts </a>
  </mat-drawer>

  <!-- Main Content -->
  <mat-drawer-content fxFlex="1 1 100%"
       fxLayout="column"
       class="sgg-main-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
