@import "../../../theme/theme";

.sgg-primary-navigation {
  // Style
  background-color: $theme-side-navigation-bg;
  border-right: $theme-side-navigation-border;

  /* Links */
  a {
    // Layout
    display: block;
    padding: 15px 10px;

    // Style
    @include theme-link();
    text-decoration: none;
  }

  /* Active link */
  &-active {
    // Style
    background-color: $theme-white-active;
    color: $theme-blue-active;
  }
}


.sgg-main-content {
  // Style
  background-color: $theme-white-default;
  color: $theme-font-primary;
}
