@import "../../../theme/theme";

.sgg-primary-navigation {
  // Style
  @extend %standard-panel; // Inherit styles from standard panel
  box-shadow: 3px 2px 10px 0 $theme-box-shadow;

  /* Links */
  a {
    // Layout
    display: block;
    padding: 15px 10px;

    // Style
    @include theme-link();
    text-decoration: none;
  }

  /* Active link */
  &-active {
    // Style
    background-color: $theme-white-active;
    color: $theme-blue-active;
  }
}


.sgg-main-content {
  // Style
  @extend %standard-panel; // Inherit styles from standard panel
}
