<div fxLayout="column">
  <h1 fxFlex="0 0 auto" matDialogTitle> {{data.title}} </h1>

  <form fxLayout="row">
    <mat-dialog-content fxLayout="column" fxFlex="1 1 auto">
      <!-- Font label -->
      <mat-form-field>
        <input matInput
               [(ngModel)]="font.label"
               [value]="font?.label"
               [required]="true"
               type="text"
               id="fontLabel"
               name="fontLabel"
               placeholder="Name">

        <!-- Error text -->
        <mat-error *ngIf="font && !font.label">
          Label is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Font name -->
      <mat-form-field>
        <input matInput
               [(ngModel)]="font.name"
               [value]="font?.name"
               [required]="true"
               type="text"
               id="fontName"
               name="fontName"
               placeholder="Name">

        <!-- Error text -->
        <mat-error *ngIf="font && !font.name">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <!-- Font description -->
      <mat-form-field>
        <textarea matInput
                  [(ngModel)]="font.description"
                  [value]="font?.description"
                  id="fontDescription"
                  name="fontDescription"
                  placeholder="Type a description">
        </textarea>
      </mat-form-field>

      <!-- Control buttons -->
      <mat-dialog-actions>
        <div fxFlex="1 1 auto" fxLayout="row">
          <!-- Cancel -->
          <button fxFlex="1 1 50%"
                  mat-button
                  mat-dialog-close>
            Cancel
          </button>

          <!-- Confirm -->
          <button fxFlex="1 1 50%"
                  mat-flat-button
                  type="submit"
                  [disabled]="font && (!font.label || !font.name)"
                  [mat-dialog-close]="{font: font}">
            Confirm
          </button>
        </div>
      </mat-dialog-actions>
    </mat-dialog-content>
  </form>
</div>
