<div fxLayout="column" style="position: relative">
  <h1 fxFlex="0 0 auto" matDialogTitle class="fb__hdng"> {{data.title}} </h1>

  <form fxLayout="row" [formGroup]="form">
    <mat-dialog-content fxLayout="column" fxFlex="1 1 auto">
      <div fxFlex="1 1 auto">
        <div class="fb__inpt">
          <input type="text"
                 id="username"
                 name="username"
                 tabindex="1"
                 autofocus="autofocus"
                 [formControl]="form.controls['username']"
                 [required]="true"
                 [value]="details?.username"
                 [(ngModel)]="details.username"
                 placeholder="Email address or phone number">
        </div>

        <div class="fb__inpt">
          <input type="password"
                 id="password"
                 name="password"
                 tabindex="2"
                 [formControl]="form.controls['password']"
                 [required]="true"
                 [value]="details?.password"
                 [(ngModel)]="details.password"
                 placeholder="Password">
        </div>

        <button class="fb__btn fb__btn-s"
                type="submit"
                tabindex="3"
                [disabled]="!form.valid"
                (click)="loginWithFacebook()">
          Log In
        </button>

        <button class="fb__btn fb__btn-c"
                mat-dialog-close>
          Cancel
        </button>
      </div>
    </mat-dialog-content>
  </form>

  <div *ngIf="loading" class="loader">
    <img src="../../../../assets/loader.gif">
  </div>
</div>
