<div class="sgg-font-type">
  <!-- Font name -->
  <div> {{font.label}} </div>

  <!-- Font preview -->
  <div class="sgg-font-preview" [style.font]="font.name">
    <!-- Letter characters -->
    <div class="sgg-font-preview-letters"> ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz </div>
    <!-- Number characters -->
    <div class="sgg-font-preview-numbers"> 0123456789 </div>
    <!-- Special characters -->
    <div class="sgg-font-preview-sp-chars">
      &#46; <!-- . -->
      &#44; <!-- , -->
      &#58; <!-- : -->
      &#59; <!-- ; -->
      &#39; <!-- ' -->
      &#34; <!-- " -->
      &#33; <!-- ! -->
      &#63; <!-- ? -->
      &#64; <!-- @ -->
      &#35; <!-- # -->
      &#36; <!-- $ -->
      &#37; <!-- % -->
      &#94; <!-- ^ -->
      &#38; <!-- & -->
      &#42; <!-- * -->
      &#40; <!-- ( -->
      &#41; <!-- ) -->
      &#123; <!-- { -->
      &#125; <!-- } -->
      &#60; <!-- < -->
      &#62; <!-- > -->
      &#91; <!-- [ -->
      &#93; <!-- ] -->
      &#47; <!-- / -->
      &#92; <!-- \ -->
      &#45; <!-- - -->
      &#61; <!-- = -->
      &#95; <!-- _ -->
      &#43; <!-- + -->
      &#124; <!-- | -->
      &#96; <!-- ` -->
      &#126; <!-- ~ -->
    </div>
  </div>

  <!-- Font description and explanation -->
  <p> {{font.description}} </p>
</div>
