<!-- Filters -->
<div fxLayout="row" class="sgg-layout-header">
  <h3> Colors </h3>

  <div fxFlex="1 1 100%" class="sgg-layout-header__list-filters">
    <mat-button-toggle-group #viewMode="matButtonToggleGroup" value="grid">
      <mat-button-toggle value="grid">
        <mat-icon>view_comfy</mat-icon>
      </mat-button-toggle>

      <mat-button-toggle value="group">
        <mat-icon>view_list</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>

<!-- Grid view mode -->
<div *ngIf="viewMode.value === 'grid'"
     fxLayout="row wrap"
     fxLayoutGap="20px"
     class="sgg-layout-container">
  <!-- List existing colors -->
  <div *ngFor="let color of colorSwatches | async" fxFlex="1 1 20%">
    <sgg-color-swatch [color]="color"
                      (edit)="editColor($event)"
                      (delete)="deleteColor($event)"
                      (generateAnalogous)="generateAnalogous($event)"
                      (generateAnalogousComplimentary)="generateAnalogousComplimentary($event)"
                      (generateComplementary)="generateComplementary($event)"
                      (generateMonochromatic)="generateMonochromatic($event)"
                      (generateMonochromaticDark)="generateMonochromaticDark($event)"
                      (generateMonochromaticLight)="generateMonochromaticLight($event)"
                      (generateTriadic)="generateTriadic($event)"
                      (generateQuadratic)="generateQuadratic($event)">
    </sgg-color-swatch>
  </div>

  <!-- Add new color -->
  <div fxFlex="1 1 20%">
    <sgg-color-swatch-input-section (success)="addColor($event)"
                                    fxFlex="0 0 162px">
    </sgg-color-swatch-input-section>
  </div>
</div>
