<div class="sgg-layout-main-header">
  <!-- Logo -->
  <img src="../../../assets/logo.png"
       title="Style Guide Generator"
       class="sgg-layout-main-header__logo">

  <!-- Contribute link -->
  <span class="sgg-layout-main-header__contribute">
    <a href="https://github.com/chriso86/style-guide-generator/tree/development"
       target="_blank">

      <!-- Github image -->
      <img src="../../../assets/GitHub-Mark-32px.png">

      <span> Please Contribute </span>

    </a>
  </span>
</div>
