// Body
$theme-body-bg: #ececec;
$theme-color-delete: red;

// Header
$theme-header-bg: #f9ad22;
$theme-header-font: #333;
$theme-header-border: #ccc;
$theme-page-header: #eee;

// Side Navigation
$theme-side-navigation-bg: #fff;
$theme-side-navigation-border: 2px solid #ccc;

// Footer
$theme-footer-bg: #ccc;
$theme-footer-font: #333;

// Panels
$theme-box-shadow: #ccc;

// Fonts
$theme-font-primary: #333;

// Links / Buttons
$theme-blue-default: #008abf;
$theme-blue-active: #00adef;
$theme-blue-disabled: #66cdf5;

$theme-white-default: #fff;
$theme-white-active: #eee;
$theme-white-disabled: #eee;

// Color Swatches
$theme-color-swatch-description-bg: #ececec;
$theme-color-swatch-border-color: #e3e3e3;
$theme-color-swatch-variable-color: #999;

// Font Types
$theme-font-types-description-bg: #ececec;
$theme-font-types-border-color: #e3e3e3;
$theme-font-types-variable-color: #999;
