<div fxLayout="column">
  <h1 fxFlex="0 0 auto" matDialogTitle> {{data.title}} </h1>

  <mat-dialog-content fxLayout="column" fxFlex="1 1 auto">
    <div fxFlex="1 1 50%" class="sgg-dialog__message">
      {{data.message}}
    </div>

    <!-- Control buttons -->
    <mat-dialog-actions>
      <div fxFlex="1 1 auto" fxLayout="row">
        <!-- Confirm -->
        <button fxFlex="1 1 50%"
                mat-flat-button
                type="submit"
                [mat-dialog-close]="true">
          Yes
        </button>
        
        <!-- Cancel -->
        <button fxFlex="1 1 50%"
                mat-button
                mat-dialog-close>
          No
        </button>
      </div>
    </mat-dialog-actions>
  </mat-dialog-content>
</div>
