@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "theme/theme";

/* Global html */
html {
  // Layout
  height: 100%;
}


/* Global body */
body {
  // Layout
  min-height: 100%;

  // Style
  background-color: $theme-body-bg;
}


/* Global root */
html, body {
  // Layout
  margin: 0;
  padding: 0;

  // Style
  font-family: $theme-standard-font-family;
  font-size: $theme-standard-font-size;
  color: $theme-font-primary;
}

/* Theme hacks */
.mat-drawer-container {
  // #{$var} is string interpolation
  height: calc(100vh - #{$theme-header-height} - #{$theme-footer-height});
}
.mat-dialog-container {
  min-width: 400px; // TODO: Should be responsive
}


/* Global buttons */
.sgg-call-to-action-btn-1 {
  @include call-to-action-btn-1();
}

/* Global fonts */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(assets/fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(assets/fonts/MaterialIcons-Regular.woff) format('woff'),
  url(assets/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

mat-icon {
  font-family: 'Material Icons' !important;
}

button[mat-icon-button] {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: $theme-white-default;
}
