@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "theme/theme";

/* Global html */
html {
  height: 100%;
}

/* Global body */
body {
  min-height: 100%;
  background-color: $theme-body-bg;
}

/* Global root */
html, body {
  margin: 0;
  padding: 0;
  font-family: $theme-standard-font-family;
  font-size: $theme-standard-font-size;
  color: $theme-font-primary;
}

/* Theme hacks */
.mat-drawer-container {
  // #{$var} is string interpolation
  height: calc(100vh - #{$theme-header-height} - #{$theme-footer-height});
}

.mat-dialog-container {
  min-width: 400px; // TODO: Should be responsive
}

// Global icons
button[mat-icon-button] {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: $theme-white-default;
}

// Global inputs
mat-form-field, input {
  width: 100%;
}

.mat-button-toggle-group {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  .mat-button-toggle {
    background: $white;
  }

  .mat-raised-button {
    border-radius: 0 !important;
  }
}

.loader {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: -24px;
  left: -24px;
  right: -24px;
  bottom: -24px;
  z-index: 121;
  overflow: hidden;

  img {
    position: relative;
    left: 50%;
    margin-left: -146px;
    z-index: 120;
    width: 292px;
    height: 292px;
  }
}

mat-dialog-container {
  min-width: 250px !important;
}
