@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "theme/theme";

/* Global html */
html {
  // Layout
  height: 100%;
}


/* Global body */
body {
  // Layout
  min-height: 100%;

  // Style
  background-color: $theme-body-bg;
}


/* Global root */
html, body {
  // Layout
  margin: 0;
  padding: 0;

  // Style
  font-family: $theme-standard-font-family;
  font-size: $theme-standard-font-size;
  color: $theme-font-primary;
}

/* Theme hacks */
.mat-drawer-container {
  // #{$var} is string interpolation
  height: calc(100vh - #{$theme-header-height} - #{$theme-footer-height});
}
.mat-dialog-container {
  min-width: 400px; // TODO: Should be responsive
}


/* Global buttons */
.sgg-call-to-action-btn-1 {
  @include call-to-action-btn-1();
}

button[mat-icon-button] {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: $theme-white-default;
}
