<!-- Buttons and Filters -->
<div fxLayout="row"
     class="sgg-layout-header">
  <h3> Fonts </h3>

  <div fxFlex="1 1 100%"
       class="sgg-layout-header__list-filters">
    <mat-button-toggle-group #viewMode="matButtonToggleGroup"
                             value="grid">
      <!-- Add new font -->
      <button mat-raised-button
              (click)="startAddingFont()">
        <mat-icon> add </mat-icon>
      </button>
    </mat-button-toggle-group>
  </div>
</div>

<div fxLayout="row wrap" class="sgg-layout-container">
  <!-- List existing fonts -->
  <div *ngFor="let font of fonts | async" fxFlex="1 1 100%">
    <sgg-font-type [font]="font"
                   (edit)="editFont($event)"
                   (delete)="deleteFont($event)">
    </sgg-font-type>
  </div>

  <!-- Add new font -->
  <div fxFlex="1 1 100%">
    <sgg-add-new-item (activate)="startAddingFont()">
    </sgg-add-new-item>
  </div>
</div>
