<form [formGroup]="form">
  <div class="sgg-color-input-container">
    <!-- Color picker -->
    <input [(colorPicker)]="color.value" [style.background]="color.value"/>

    <!-- Color Hex Value -->
    <mat-form-field>
        <input type="text"
               id="colorHexValue"
               name="colorHexValue"
               [formControl]="form.controls.colorHexValue"
               matInput
               required="true"
               [value]="color.value"
               placeholder="Color Hex Value"
               class="sgg-color-input-label">
  
        <!-- Error text -->
        <mat-error *ngIf="form.controls['colorHexValue'].hasError('required')">
          Color is <strong>required</strong>
        </mat-error>
      </mat-form-field>

    <!-- Color label -->
    <mat-form-field>
      <input type="text"
             id="colorLabel"
             name="colorLabel"
             [formControl]="form.controls.colorLabel"
             matInput
             required="true"
             [value]="color.label"
             placeholder="Name"
             class="sgg-color-input-label">

      <!-- Error text -->
      <mat-error *ngIf="form.controls['colorLabel'].hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <!-- Color description -->
    <mat-form-field>
      <textarea id="colorDescription"
                name="colorDescription"
                [formControl]="form.controls.colorDescription"
                matInput
                [value]="color.description"
                placeholder="Type a description"
                class="sgg-color-input-description">
      </textarea>
    </mat-form-field>

    <!-- Control buttons -->
    <!-- Confirm -->
    <button class="sgg-btn-confirm"
            type="submit"
            (click)="confirmAddColor()">
      Confirm
    </button>

    <!-- Cancel -->
    <button class="sgg-btn-cancel"
            (click)="cancelAddColor()">
      Cancel
    </button>
  </div>
</form>
