@import "variables/index";

.sgg-layout {
  &-main-header {
    width: 100%;
    height: 36px;
    padding: 10px 0;
    background-color: $theme-header-bg;
    color: $theme-header-font;
    border-bottom: 2px solid $theme-header-border;

    & > * {
      position: relative;
    }

    &__logo {
      // Layout
      left: 10px;
      height: 36px;
    }

    &__contribute {
      // Layout
      float: right;
      right: 10px;
      height: 32px;
      line-height: 32px;
      padding: 4px 10px;
      border-radius: 16px;

      &:hover {
        background-color: $theme-white-active;
      }

      a {
        // Layout
        display: inline-block;

        span {
          // Layout
          padding-left: 10px;
          vertical-align: top;
          display: inline-block;

          // Style
          color: $theme-blue-active !important;
        }
      }
    }
  }

  &-main-content {
    background-color: $theme-white-default;
    color: $theme-font-primary;
  }

  &-header {
    background-color: $theme-page-header;

    h3 {
      padding-left: 10px;
      margin: 0 !important;
      line-height: 2.5em;
    }

    &__list-filters {
      margin-bottom: 10px;
      text-align: right;
    }
  }

  &-container {
    padding: $theme-color-swatch-padding;
  }

  &-footer {
    width: 100%;
    height: 36px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    background: $theme-footer-bg;
    color: $theme-footer-font;
    text-align: center;
    line-height: 36px;
  }
}
